*{
    margin: 0px;
}

.textBoxCircular{
    border-radius: 8px;
}

#logo-placeholder{
    font-family: 'Seaweed Script', cursive;
}

/*Cleaned Up */
/* DO NOT DELETE!
.loginPage-container{
    background-color: rgba(213, 150, 87, 0.9);
    display: flex;
    padding: 1vh 5vw 1vh 5vw;
    justify-content: space-between;
}
*/

.loginPage-container{
    position: absolute;
    width: 80%;
    top: 3vh;
    left: 4.5vw;
    z-index: 1;
}

/* Header CSS */
.headFontSize{
    font-size: 1vw;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: gray;
}

#skyBlueLine{
    margin-top: 0.5%;
}

/*SIGN UP*/

#signUpImg{
    max-width: 100%;
    height: 100vh;
    #filter: blur(1px);
}

#imgContainer {
    background: #2374ed;
    opacity: 0.5;
}

#signUpText{
    margin-top: 20vh;
    margin-bottom: 3vh;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 32pt;
    color: black;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  border: 2px solid #42a7f4;
}

#createAcc{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    border: none;
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.75vw;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    max-width: 10vw;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    flex: 1 1 0;
    text-align: center;
}

.registrationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,0.3);
}

form > div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

form > div > input {
    font-family: 'Open Sans', sans-serif;
    border-color: lightgray;
    border-style: none none solid none;
    text-align: center;
    width: 25vw;
    height: 5vh;
}

#signInContainer {
    font-family: 'Poppins', sans-serif;
}
