*{
    margin: auto;
}

/* Navs */

#ul-NavBar{
    list-style-type: none;
}

.navBar{
    display: inline;
}

#header{
    padding: 3vh 20vw 10vh 15vw;
    border: solid;
}

#login{
    float: right;
    margin-top: 1.7vh;
}

#login-button{
    font-size: 1.1vw;
    border: none;
}

#login-button:focus {
    outline: white;
    background-color: white;
}

#login-button:active{
    background-color: white;
}

#logo-placeholder{
    font-size: 2vw;
    font-weight: bold;
}

/*Modal Part */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Modal Login Button */
.modal-login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.modal-login-btn:hover, .cancel-btn:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancel-btn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
    border-style: none;
}

/* Center the image and position the close button */
.modal-container {
    padding: 16px;
}

span.userPSW {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.modal-animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancel-btn {
        width: 100%;
    }
}
