.rating {
    text-align: center;
    display: inline-block;
}

.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    opacity:0;
}

.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    color:blue;
    background:lightseagreen;
    margin-right:2px;
    border-radius:50%;
    -webkit-border-radius:10%;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background: rgb(0, 80, 221);
    color:rgb(37, 83, 163);
}

body{
    background: linear-gradient(to right, lightseagreen, blue);;
}
.header {
    background-color:#0099cc;
    color: blue;
    box-shadow: 0 50px 50px rgba(0,0,0,0.42), 0 220px 217px rgba(0,0,0,0.44);
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 300px;
    width: 100%;
}

.menu li:hover {
    background-color: #0099cc;
}

#bio {
    background: #0099cc;
    padding: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.42), 0 220px 217px rgba(0,0,0,0.44);
    position: relative;
    border: solid;
    width: 100px;
    height: 400px;
    margin: 20px 0px 20px 30px;
}

.body_container{
    padding: 0px 100px 0px;
}

#profile{
    background: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 50px 50px rgba(0,0,0,.10), 0 50px 50px rgba(0,0,0,0.50);
    width:400px;
    height:600px;
    border:solid;
    padding-bottom: 10px;
    margin-top: 80px;
    margin-left: 30px;
}
.ulbio{
    margin-right:5px;
    margin-left:-100px;

}
#wall{
    margin-left: 600px;
    margin-top: 300px;
    width: 625px;
    position: absolute;
}
.post_options{
    border: solid;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
#post{
    border: solid;
    border-color: gray;
    display: block;
    height:auto;
    margin: 30px 30px 30px;
    position: relative;
    padding : 0 10px 0;
}
#feed{
    border: solid;
    border-color: black;
    display: block;
    margin: 30px 30px 30px;
    height: 200px;
}

.post_options{
    cursor: pointer;
}

.options ul{
    padding: 0;
    list-style-type: none;
}
.options ul li{
    display:inline-block;
}
li a{
    text-decoration: none;
    color:black;
}
li a:visited{
    text-decoration: none;
}

.after_first_option:before{
    content : "|";
}

.right_text{
    text-align: right;
}

#submission{
    text-align: center;
    padding: 5px 30px 5px;
}

#submission textarea{
    resize: none;
    width : 450px;
    font-size: 20px;
}

.image_container{
    position : relative;
    width:180px;
    height: 180px;
    left: 110px;
    bottom: 280px;
    border-radius: 50%;
    overflow: hidden;
}

.select_profile{
    position :relative;
    height: 42px;
    top:110px;
    padding-top: 13px;
    display: none;
}

.select_profile:hover{
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal_header{
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal_container{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    top: 15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal_body{
    padding: 2px 16px;
    height: 600px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal_footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.slide{
    position: absolute;
    width: 300%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.pic_container{
    position: relative;
    width: 100%;
    height: 100%;
}