.rating {
    float:left;
    width:300px;
}

.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}

.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:blue;
    background:lightseagreen;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:10%;
    margin-top:10px;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background: rgb(0, 80, 221);
    color:rgb(37, 83, 163);
}

body{
    background: linear-gradient(to right, lightseagreen, blue);;
}
.header {
    background-color:#0099cc;
    color: blue;
    padding: 75px;

    box-shadow: 0 50px 50px rgba(0,0,0,0.42), 0 220px 217px rgba(0,0,0,0.44);
}


.menu li:hover {
    background-color: #0099cc;
}

.bio {
    background: #0099cc;
    padding: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 50px 50px rgba(0,0,0,0.42), 0 220px 217px rgba(0,0,0,0.44);
    position: relative;
    margin-top:100px;
    padding-bottom: 500px;
}


.pic{
    background: #0099cc;
    padding: 150px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 50px 50px rgba(0,0,0,.10), 0 50px 50px rgba(0,0,0,0.50);
    margin-top:-400px;

}
.ulbio{
    margin-right:5px;
    margin-left:-100px;

}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}